<%- include('header') -%>

<div>
    <form action="/">
        <label for="name">Nafn</label>
        <input type="text" id="name" name="name" placeholder="Jón Jónsson" required>

        <label for="email">Netfang</label>
        <input type="email" id="email" name="email" placeholder="jon@jonsson.is" required>

        <label for="phone">Sími</label>
        <input type="tel" id="phone" name="phone" pattern="[0-7]{3}-[0-7]{4}" placeholder="123-4567" required>

        <label for="intro">Kynning á þér</label>
        <input type="text" id="intro" name="intro" minlength="100" required>

        <fieldset>
            <legend>Starf sem sótt er um:</legend>
            <input type="radio" name="job" value="programmer">Forritari<br>
            <input type="radio" name="job" value="designer">Hönnuður<br>
            <input type="radio" name="job" value="leader">Verkefnastjóri<br>
        </fieldset>

        <input type="submit" value="Senda umsókn">
    </form>
</div>

<%- include('footer') -%>
