* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

main {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

form label {
  font-size: 22px;
}